<button type="button" class="btn btn-light" (click)="addItem()">Light</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Rating</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films" (click)="selectedItem(film.id)">
      <th scope="row">{{ film.id }}</th>
      <td>{{ film.title }}</td>
      <td>{{ film.rating }}</td>
      <td>{{ film.description }}</td>
    </tr>
  </tbody>
</table>
